@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import "./constants.scss";


html {
  font-family: 'Rounded Mplus 1c', helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

body {
  margin: 0;
}

.image {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 150ms;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 150ms;
}

.app {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: $footer-height;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $main-color;
  text-align: center;
  color: $grey;

  .disclaimer {
    font-size: 12px;
    padding: 15px 0;
  }
}

.btn {
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}
