@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

html {
  font-family: 'Mplus 1p', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
}

.image {
  display: block;
}
