.locale-btn {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin: 0 auto;
  
  .item {
    width: 50px;
    color: white;
    text-align: center;
  }

  .icn-jp, .icn-en {
    margin: 0 auto;
    width: 32px;
    height: 32px;
  }
}
