#nav-bar {
  .row {
    &.user {
      width: 100%;
      height: 50px;
      position: relative;
      background-color: $main-color;
      a, div {
        color: white;
      }
    }

    &.pages {
      width: 100%;
      height: 30px;
      position: relative;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border-bottom: 4px solid #ff5353;
      box-sizing: border-box;

      a {
        flex-grow: 1;
        text-align: center;
        font-weight: 600;
        background-color: white;
        transition: background-color 500ms;
      }

      a:hover {
        background-color: #ff5353;
      }
    }
  }

  .user-status {
    float: right;
    display: flex;
    height: 100%;
    line-height: 50px;
    margin-right: 5px;
    padding: 4px 0;
    box-sizing: border-box;
  }
  .user-icon {
    background-position: center;
    background-size: contain;
    border: 1px solid #aaa;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
  }
  .user-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0 25px;
  }
}
