.nav-bar {
  .row {
    &.user {
      width: 100%;
      height: 64px;
      position: relative;
      background-color: $main-color;
      a, div {
        color: white;
      }
    }

    &.pages {
      width: 100%;
      height: 30px;
      position: relative;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      a {
        flex-grow: 1;
        text-align: center;
        font-weight: 600;
        background-color: white;
        transition: background-color 500ms;
      }

      a:hover {
        background-color: #ff5353;
      }
    }
  }
}
