@import "../constants.scss";

.user-status {
  position: relative;
  height: 100%;
  line-height: 64px;
  text-align: right;

  margin: 0 0 0 auto;


  .user-icon {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    right: 5px;
    background-position: center;
    background-size: contain;
    border: 2px solid #aaa;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .user-name {
    font-size: 18px;
    font-weight: 600;
  }

  .status {
    z-index: 9999;
    display: block;
    position: relative;
    padding-right: 64px;
    background-color: $dark;
  }

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .menu {
    box-sizing: border-box;
    height: 0;
    width: 180px;
    right: 0;
    position: absolute;
    z-index: 9000;
    top: 100%;
    background-color: $dark;

    &.toggled {
      height: auto;
      .slider {
        transform: translateY(0);
      }
    }

    &.toggled + backdrop {
      display: block;
    }

    .slider {
      width: 100%;
      z-index: 8900;
      position: absolute;
      transform: translateY(-100%);
      transition: transform 250ms ease;
      display: flex;
      flex-direction: column;
      background-color: $dark;

      a {
        display: block;
        position: relative;
        padding: 4px 64px 4px 0px;
        text-align: right;
        line-height: 50px;
        box-sizing: border-box;

        &:hover {
          background-color: $dark-light;
          color: $light-green;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $dark-light;
        }

        i {
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: 24px;
          margin-top: -12px;
        }
      }
    }
  }
}
