@import "../base.scss";
@import "../constants.scss";

.image-cropper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: $backdrop-layer;
  
  .backdrop {
    background: rgba(0, 0, 0, 0.8);
  }

  .container {
    position: fixed;
    display: inline-block;
  }

  .frame-wrap {
    width: 100%;
    position: relative;
    margin: 0 auto;
    border: 2px solid #aeaeae;
    padding: 15px;
    background-color: rgba(41, 37, 37, 0.83);
    border-radius: 6px;

    .frame {
      display: inline-block;
      margin: 0 auto;
      position: relative;
    }

    .editor {
      background-color: black;
    }

    .crop-area {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      box-sizing: border-box;
      border: 1px solid #eee;
    }

    .rot-wrap {
      position: absolute;
      right: 0;
      z-index: 1;
    }
    .bottom-wrap {
      position: absolute;
      bottom: 0;
      padding: 0 15px 20px 15px;
      right: 0;
      left: 0;
      display: flex;
      align-items: center;

      .reset-btn {
        position: absolute;
      }

      .horizontal-slider {
        margin: 0 auto;
      }
    }
  }
  .window-control-wrap {
    display: flex;
    justify-content: space-around;
    padding: 8px 4px;
    position: relative;
    margin: 0 auto;
  }

  .save-btn, .cancel-btn {
    flex-grow: 1;
    padding: 8px 16px;
  }
  .save-btn {
    margin-right: 2px;
  }
  .cancel-btn {
    margin-left: 2px;
  }
}