@import "../constants.scss";

.nav-bar {
  .row {
    &.user {
      width: 100%;
      height: 64px;
      position: relative;
      a, div {
        color: $site-header;
      }
    }

    &.pages {
      width: 100%;
      height: 30px;
      position: relative;
      height: 46px;
      line-height: 46px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      
      a {
        flex-grow: 1;
        text-align: center;
        font-weight: 600;
        color: $site-text-dim;
        transition: background-color  250ms;
        border-bottom: 1px solid $site-very-dim;
      }

      a:hover {
        cursor: pointer;
        color: $site-highlight;
        background-color: #2c2c2c;
      }
    }
  }
}
