@import "../constants.scss";

.user-status {
  position: relative;
  height: 100%;
  line-height: 64px;
  text-align: right;

  margin: 0 0 0 auto;

  a.btn.login-btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -20px;
    width: 100px;
    height: 40px;
    line-height: 40px;

    &:hover {
      color: $site-link-hover;
    }
  }

  .user-icon {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    right: 5px;
    background-position: center;
    background-size: contain;
    border: 2px solid $avatar-border;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .user-name {
    font-size: 18px;
    font-weight: 600;

    .user-icon:hover & {
      color: $site-link-hover;
    }
  }

  .status {
    z-index: $navbar-layer + 1;
    display: block;
    position: relative;
    padding-right: 64px;
  }

  .backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .menu {
    box-sizing: border-box;
    height: 0;
    width: 180px;
    right: 0;
    position: absolute;
    z-index: $navbar-layer;
    top: 100%;

    &.toggled {
      height: auto;
      .slider {
        transform: translateY(0);
      }
    }

    .slider {
      position: absolute;
      width: 100%;
      z-index: $navbar-layer - 1;
      position: absolute;
      transform: translatex(100%);
      transition: transform 250ms ease;
      display: flex;
      flex-direction: column;
      background-color: $menu-background;

      a {
        display: block;
        position: relative;
        padding: 4px 64px 4px 0px;
        text-align: right;
        line-height: 50px;
        box-sizing: border-box;

        &:hover, &:hover .text {
          color: $site-link-hover;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }

        i {
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: 24px;
          margin-top: -12px;
        }
      }
    }
  }
}
