@import "../constants.scss";

.locale-wrapper {
  margin-top: 15px;

  .locale-title {
    width: 250px;
    padding: 2px 0 5px 0;
    margin: 0 auto;
    border-bottom: 1px solid;
    font-size: 14px;
  }

  .locale-btn {
    padding-top: 18px;
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 14px;
    height: 40px;
    font-weight: 600;

    .item {
      color: $grey;
      width: 50px;
      text-align: center;
      flex-grow: 1;

      &.current {
        color: $site-highlight;
        background: #222;
      }
    }

    .icn-jp, .icn-en {
      margin: 0 auto;
      height: 100%;
      line-height: 40px;
    }
  }

}
