.nav-bar {
  background-color: $dark;
  height: 64px;
  display: flex;
  align-content: space-between;
  border-bottom: 1px solid $site-very-dim;

  .page-tabs {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .page-link {
      height: 100%;
      flex-grow: 1;
      text-align: center;
      font-weight: 600;
      color: $bright;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: background-color, color 350ms;

      i {
        margin: 4px 0px;
      }

      a {
        color: $bright;
        transition: color 350ms;
      }

      &:hover, & a:hover {
        cursor: pointer;
        color: $brightest;
        background-color: $darker;
      }
    }
  }

  .status-wrap {
    max-width: 200px;
  }
}
