
.horizontal-slider {
  display: inline-block;
  position: relative;
  user-select: none;
  cursor: default;
  padding: 30px 20px;
  opacity: 0.8;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
  }

  .slide-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .pipe {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.28);
    background-color: #333333;
  }
  .knob {
    position: absolute;
    border-radius: 100%;
    top: 50%;
    background-color: #dddddd;
    transition: left 10ms;
  }
  .stats {
    position: absolute;
    background: $dark;
    width: 60px;
    font-weight: bold;
    height: 20px;
    border-radius: 4px;
    left: 50%;
    margin-left: -30px;
    text-align: center;
    font-size: 14px;
    color: #dddddd;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: -8px;
      left: 50%;
      margin-left: -8px;
      border-style: solid;
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent $dark transparent;
    }
  }
}

.circular-slider {
  position: relative;
  display: inline-block;
  padding: 20px;
  user-select: none;
  cursor: default;
  opacity: 0.8;
  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
  }

  .bg-disk {
    fill: $site-link;
  }
  .front-disk {
    fill: #333333;
  }
  .spin-mask {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    &.expand {
      position: fixed;
    }
  }
  .knob {
    fill: #dddddd;
  }
  .knob-mask {
    fill: transparent;
  }
  .stats {
    font-size: 16px;
    fill: #dddddd;
    font-weight: bold;
    stroke: none;
    alignment-baseline: central;
  }
}