
.user-status {
  position: relative;
  height: 100%;
  line-height: 64px;
  text-align: right;

  margin: 0 0 0 auto;

  a.btn.login-btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -20px;
    width: 100px;
    height: 40px;
    line-height: 40px;

    &:hover {
      color: $site-link-hover;
    }
  }

  .user-icon {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    right: 5px;
    background-position: center;
    background-size: contain;
    border: 2px solid $blue;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .user-name {
    max-width: 148px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    color: $blue;

    .user-icon:hover & {
      color: $site-link-hover;
    }
  }

  .status {
    z-index: $navbar-layer + 1;
    display: block;
    position: relative;
    padding-right: 64px;
    padding-left: 8px;
    background: $dark;

    &:hover {
      background: $darker;
    }
  }

  .backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .menu {
    box-sizing: border-box;
    height: 0;
    width: 180px;
    right: 0;
    position: absolute;
    z-index: $navbar-layer;
    top: 100%;

    &.toggled {
      height: auto;
      .slider {
        transform: translate3d(0, 0, 0);

        a {
          transform: translate3d(0, 0, 0) !important;
        }
      }
    }

    &.toggled ~ .status {
      background-color: $darker;
    }

    .slider {
      position: absolute;
      width: 100%;
      z-index: $navbar-layer - 1;
      position: absolute;
      transform: translate3d(100%, 0, 0);
      transition: transform 250ms ease;
      display: flex;
      flex-direction: column;

      a {
        display: block;
        position: relative;
        padding: 4px 64px 4px 0px;
        text-align: right;
        line-height: 50px;
        color: $bright;
        box-sizing: border-box;
        background-color: $dark;
        border-left: 1px solid $bright;
        
        &:hover, &:hover .text {
          color: $brightest;
        }

        &:last-child {
          border-bottom: 1px solid $bright;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }

        &:nth-child(1) {
          transform: translate3d(40%, 0, 0);
          transition: transform 700ms ease;
        }

        &:nth-child(2) {
          transform: translate3d(80%, 0, 0);
          transition: transform 700ms ease;
        }

        &:nth-child(3) {
          transform: translate3d(160%, 0, 0);
          transition: transform 700ms ease;
        }

        &:nth-child(4) {
          transform: translate3d(320%, 0, 0);
          transition: transform 700ms ease;
        }

        i {
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: 24px;
          margin-top: -12px;
        }
      }
    }
  }
}
