@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

html {
  font-family: 'Rounded Mplus 1c', helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  background-color: $site-background;
  color: $grey;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.image {
  display: block;
}

a {
  text-decoration: none;
  color: $site-link;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 150ms;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 150ms;
}

.app {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: $footer-height;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  text-align: center;
  background-color: #2c2c2c;

  .disclaimer {
    font-size: 8px;
    margin: 12px 0px;
  }
}

.btn {
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}

.backdrop {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

input:focus {
  outline-color: $input-focus-outline;
  color: $site-highlight;
  background-color: $input-background-highlight;
}

input {
  background-color: $input-background;
  font-size: $input-font-size;
  height: $input-height;
  line-height: $input-height - 4px;
  padding: 4px;
  border: 1px solid $site-link;
  color: $site-text-dim;
}