@import "../constants.scss";

.char-content {
  position: relative;
  max-width: 767px;
  width: 100%;
  margin: 15px auto 0 auto;

  .row {
    display: flex;
  }
}
.char-avatar {
  .char-image {
    border-radius: 2px;
    border: 1px solid $avatar-border;
    box-sizing: border-box;
    background-position: center;
    width: 300px;
    height: 300px;
  }
}

.panel {
  padding: 10px 0 0 30px;
  flex-basis: 100%;
}

.char-name {

  .name-block {
    display: inline-block;
    padding: 0 5px
  }

  .kanji {
    font-size: 40px;
    font-weight: bold;
    color: $site-header;
  }

  .yomi {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 4px;
    color: #a9a5a5;
  }
}

.char-profile {
  padding: 15px 0 0 3px;

  .title {
    font-size: 24px;
    border-bottom: 1px solid #aaa;
  }
  .entries {
    width: 250px;
  }
  .entry {
    font-size: 16px;

    .name {
    }
    .delimiter {
    }
    .value {
    }
  }
}
