
$main-color: #313131;
$dark: #313131;
$dark-light: #444;
$light-green: #97ffad;
$mid-green: #586C3A;
$grey: #aaa;
$red: #c32828;

$footer-height: 150px;

$popup-layer: 9000;
$dropdown-layer: 8000;
$backdrop-layer: 7000;
$navbar-layer: 6000;

$site-very-dim: #999999;
$site-background: #222222;
$site-text-dim: #bbbbbb;
$site-text: #cccccc;
$site-header: #dddddd;
$site-highlight: #eeeeee;

$site-topic: #55a8b0;
$site-link: #55a8b0;
$site-link-hover: #55a8b0;

$avatar-border: #55a8b0;

$border-color: #555555;

$menu-background: #333333;

$input-focus-outline: #5bb0bb;
$input-background: #333333;
$input-background-highlight: #444444;
$input-height: 28px;
$input-font-size: 16px;