
$main-color: #313131;
$dark: #313131;
$dark-light: #444;
$light-green: #97ffad;
$mid-green: #51c169;
$grey: #aaa;
$red: #ff5353;

$footer-height: 200px;

$popup-layer: 9000;
$dropdown-layer: 8000;
$backdrop-layer: 7000;
$navbar-layer: 6000;

