<% content_for :head do %>
  <title>KyaraList</title>
<% end %>

<% content_for :content do %>
  <script>
    window.storeData = <%== render( file: 'json/store_data.json.jbuilder', locals: {strings_partial: @strings_partial}) %>
  </script>
  <script crossOrigin="anonymous" src="<%= Rails.application.config.asset_host %>/assets/lib.js"></script>
  <script async crossOrigin="anonymous" src="<%= Rails.application.config.asset_host %>/assets/app.js"></script>
<% end %>
